*{
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
}
body, html{
	max-width: 1280px;
}
.container{
	max-width: 1280px;
	min-height: 1900px;
	margin: 0 auto;
}
.header {
	width: 100%;
	height: 100px;
	background-color: #f8f6f6;
	position: relative;
}
.header img{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.wrapper {
	width: 15%;
	position: absolute;
	top: 2%;
    right: 1%;
    background-color: black;
}
.wrapper ul{
	padding-left: 3%;
	display: block;
	width: 100%;
	margin: 0 auto;
}

.menu li {
	list-style: none;
	display: block;
	color: white;
}

.menu li:hover {
	list-style: none;
	background-color: gray;
	cursor: pointer;
}

nav{
	display: none;
}

.main {
	width: 100%;
	height: 600px;
	background-color: #4d4d4d;
	position: relative;
}
.main img[src="pictures/burger.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 2%;
    right: 1%;
    cursor: pointer;
}
.main img[src="pictures/wethinkcreative.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.main img[src="pictures/makecreativetasks.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.main img[src="pictures/mouse.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.main img[src="pictures/scroll-down.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 88%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.about-us {
	width: 100%;
	height: 500px;
	background-color: #ffffff;
	position: relative;
}
.about-us img[src="pictures/aboutus.png"] {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.about-us img[src="pictures/tododesign.png"] {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.kinds {
	width: 80%;
	margin: 0 auto;
	position: absolute;
	top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.kinds img[src="pictures/creativedesign.png"],
.kinds img[src="pictures/unicporfolio.png"] {
	width: 32%;
	float: left;
	margin-right: 2%;
	cursor: pointer;
}
.kinds img[src="pictures/endless.png"] {
	width: 32%;
	float: right;
	cursor: pointer;
}
.kinds img[src="pictures/creativedesign.png"]:hover,
.kinds img[src="pictures/unicporfolio.png"]:hover,
.kinds img[src="pictures/endless.png"]:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  border: 1px solid gray;
  transition: all ease 0.5s;
}

.clear{
	clear: both;
}
.clients {
	width: 100%;
	height: 200px;
	background-color: #1c1c1c;
	position: relative;
}
.clients img[src="pictures/ourclients.png"] {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.clients img[src="pictures/arrow-left.png"] {
	position: absolute;
	top: 55%;
	left: 13%;
	cursor: pointer;
}
.clients img[src="pictures/arrow-right.png"] {
	position: absolute;
	top: 55%;
	right: 13%;
	cursor: pointer;
}
.clients img[src="pictures/arrow-left.png"]:hover,
.clients img[src="pictures/arrow-right.png"]:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.5);
  transition: all ease 0.5s;
}
.slider{
	width: 860px;
	height: 100px;
	padding-top: 10px;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	left: 50%;
    margin-right: -45%;
    transform: translate(-50%, 0);
    top: 40%;
}
.mySlides {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	display: none;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.mySlides img[src="pictures/rcbuyer.png"]:hover,
.mySlides img[src="pictures/klick.png"]:hover,
.mySlides img[src="pictures/videohiv.png"]:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all ease 0.5s;
  cursor: pointer;
  vertical-align: middle;
}

.features{
	width: 100%;
	height: 500px;
	background-color: #4d4d4d;
	position: relative;
}
.features img[src="pictures/ourfeatures.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.parts {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.sites, .products {
	float: left;
	margin-right: 150px;
}
.our-clients{
	float: right;
}
.sites img, .products img, .our-clients img{
	display: block;
	margin: 20px auto;
}

.parts img[src="pictures/sites.png"]:hover,
.parts img[src="pictures/products.png"]:hover,
.parts img[src="pictures/clients.png"]:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.4);
  transition: all ease 0.5s;
  cursor: pointer;
}

.contacts {
	width: 100%;
	height: 900px;
	background-color: #ffffff;
	position: relative;
}

.contacts img[src="pictures/contacts.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.contacts img[src="pictures/forlinks.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.contacts form{
	width: 80%;
	margin: 0 auto;
	position: absolute;
	top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.form{
	width: 100%;
	margin: 0 auto;
}
input[type="text"],
input[type="email"] {
border-top: 1px solid white;
border-right: 1px solid white;
border-left: 1px solid white;
border-bottom: 1px solid #cccccc; 
border-radius: 3px; 
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; 
-khtml-border-radius: 3px; 
background: #ffffff !important; 
outline: none; 
color: #cccccc; 
font-size: 16px; 
font-family: Verdana sans-serif; 
width: 100%;
height: 50px;
}
.contacts input[type="submit"]{
	width: 200px;
	height: 50px;
	background-color: #f6744b;
	border: 1px solid #f6744b;
	border-radius: 2px;
	font-family: Verdana sans-serif;
	font-size: 26px;
	color: white;
	display: block;
    cursor: pointer;
    margin-top: 5%;
}
.thanks{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
    cursor: pointer;
}
.name, .email{
	width: 48%;
	display: block;
	float: left;
}
.name{
	margin-right: 4%;
}

#message{
	display: block;
	width: 100%;
	height: 100px;
	background: #fff;
	outline: none;
	-webkit-appearance: none;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	border-radius: 3px;
	padding: 6px 12px 8px;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 2px solid #cccccc;
}
label{
	display: block;
	margin-top: 2%;
	color: #cccccc;
	font-family: Verdana sans-serif;
	font-size: 16px;
	margin-bottom: 2%;
}
label:after{
	content: "*";
	font-size: 20px;
	color: red;
}
.nets{
	position: absolute;
	top: 80%;
    left: 10%;
}
.nets a{
	text-decoration: none;
}
.nets .vk:hover,
.nets .insta:hover,
.nets .whatsup:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  transition: all ease 0.5s;
  cursor: pointer;
  opacity: 0.6;
}

.up-footer {
	width: 100%;
	height: 80px;
	background-color: #0c1215;
	position: relative;
}
.up-footer img[src="pictures/location.png"]{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.up-footer img[src="pictures/arrow-down.png"]{
	position: absolute;
	top: 50%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.maps {
	width: 100%;
	height: 450px;
	background-color: white;
	display: none;
}
.low-footer {
    width: 100%;
	height: 200px;
	background-color: #171f23;
	position: relative;
}
.low-footer img[src="pictures/logo-footer.png"]{
	position: absolute;
	top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.low-footer img[src="pictures/todowithlove.png"]{
	position: absolute;
	top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.low-footer img[src="pictures/subscribe.png"]{
	position: absolute;
	top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1140px) {
.container{
	width: auto;
}
.up-footer img[src="pictures/arrow-down.png"]{
    left: 65%;
}
}
@media (max-width: 960px) {
.slider{
	width: 700px;
}
.container{
	width: auto;
}
.sites, .products {
	margin-right: 100px;
}
}
@media (max-width: 870px) {
.container{
	width: auto;
}
.sites, .products {
	margin-right: 60px;
}
}
@media (max-width: 790px) {
.menu li{
	font-size: 14px;
}
.slider{
	width: 600px;
}
.container{
	width: auto;
}
.sites, .products, .our-clients {
	width: 100%;
}
.features{
	height: 700px;
}
.features img[src="pictures/ourfeatures.png"]{
	top: 10%;
}
.parts {
	top: 60%;
}
}
@media (max-width: 750px) {
.slider{
	width: 500px;
}
.container{
	width: auto;
}
.up-footer img[src="pictures/arrow-down.png"]{
    left: 70%;
}
}
@media (max-width: 700px) {

.wrapper{
	width: 20%;
}
.container{
	width: auto;
}
img[src="pictures/wethinkcreative.png"]{
	width: 500px;
	} 
}
@media (max-width: 600px) {
.slider{
	width: 450px;
}
.container{
	width: auto;
}
img[src="pictures/forlinks.png"]{
	width: 500px;
} 
img[src="pictures/contacts.png"]{
	width: 500px;
} 
}
@media (max-width: 590px) {
.wrapper{
	width: 40%;
}
.menu li{
	font-size: 16px;
}
.up-footer img[src="pictures/arrow-down.png"]{
    left: 75%;
}
}
@media (max-width: 550px) {
.container{
	max-width: 550px;
}
.up-footer img[src="pictures/arrow-down.png"]{
    left: 75%;
}
}
@media (max-width: 520px) {
.slider{
	width: 400px;
}
img[src="pictures/logo-main.png"]{
	width: 400px;
}
img[src="pictures/wethinkcreative.png"]{
	width: 400px;
}
img[src="pictures/makecreativetasks.png"]{
	width: 400px;
}
img[src="pictures/ourfeatures.png"]{
	width: 400px;
}
img[src="pictures/contacts.png"]{
	width: 400px;
}
img[src="pictures/forlinks.png"]{
	width: 400px;
}
}
@media (max-width: 470px) {

img[src="pictures/logo-main.png"]{
	width: 300px;
}
img[src="pictures/wethinkcreative.png"]{
	width: 300px;
}
img[src="pictures/makecreativetasks.png"]{
	width: 300px;
}
img[src="pictures/ourfeatures.png"]{
	width: 300px;
}
img[src="pictures/contacts.png"]{
	width: 300px;
}
img[src="pictures/forlinks.png"]{
	width: 300px;
}
.up-footer img[src="pictures/arrow-down.png"]{
    left: 80%;
}
img[src="pictures/logo-footer.png"]{
	width:300px;
}
img[src="pictures/todowithlove.png"]{
	width:200px;
}
img[src="pictures/subscribe.png"]{
	width:100px;
}
.clients img[src="pictures/arrow-left.png"] {
	left: 8%;
}
.clients img[src="pictures/arrow-right.png"] {
	right: 8%;
}
}

@media (max-width: 470px) {
.slider{
		top: 45%;
}
.clients img[src="pictures/arrow-left.png"] {
	left: 5%;
}
.clients img[src="pictures/arrow-right.png"] {
	right: 5%;
}
img[src="pictures/rcbuyer.png"]{
	width: 200px;
}
img[src="pictures/klick.png"]{
	width: 200px;
}
img[src="pictures/videohiv.png"]{
	width: 200px;
}

}
@media (max-width: 400px) {
.slider{
	width: 300px;
}
.up-footer img[src="pictures/arrow-down.png"]{
    left: 85%;
}
}
@media (max-width: 330px) {
.slider{
	width: 250px;
}
.wrapper{
	z-index: 20;
}
img[src="pictures/ourclients.png"]{
width: 200px;
}
.up-footer img[src="pictures/arrow-down.png"]{
    left: 90%;
}
img[src="pictures/logo-main.png"]{
	width: 250px;
}
.main img[src="pictures/wethinkcreative.png"]{
	width: 200px;
	top: 30%;
}
.main img[src="pictures/makecreativetasks.png"]{
	width: 200px;
	top: 40%;
}
.about-us img[src="pictures/aboutus.png"]{
	top: 8%;
	width: 150px;
}
.about-us img[src="pictures/tododesign.png"]{
	width: 150px;
	top: 15%;
}
.kinds {
	top: 58%;
}
.kinds img[src="pictures/creativedesign.png"],
.kinds img[src="pictures/unicporfolio.png"],
.kinds img[src="pictures/endless.png"]
 {
	width: 100%;
	margin-bottom: 2%;
	margin-right: 0;
	margin-left: 0;
}

img[src="pictures/ourfeatures.png"]{
	width: 250px;
}
.contacts img[src="pictures/contacts.png"]{
	width: 250px;
	top: 7%;
}
.contacts img[src="pictures/forlinks.png"]{
	width: 250px;
	top: 12%;
}
.up-footer img[src="pictures/arrow-down.png"]{
    left: 90%;
}
img[src="pictures/logo-footer.png"]{
	width: 250px;
}
img[src="pictures/todowithlove.png"]{
	width: 200px;
}
img[src="pictures/subscribe.png"]{
	width: 200px;
}
.clients img[src="pictures/arrow-left.png"] {
	left: 5%;
}
.clients img[src="pictures/arrow-right.png"] {
	right: 5%;
}
.header{
	height: 80px;
}
.main{
	height: 150px;
}
.about-us{
	height: 600px;
}
.features{
	height: 400px;
}
.sites img, .products img, .our-clients img{
	margin: 0 auto;
}

.contacts{
	height: 650px;
}
.low-footer{
	height: 150px;
}
img[src="pictures/burger.png"]{
	width: 40px;
	top: 5%;
	right: 2%;
} 
.main img[src="pictures/mouse.png"]{
	width: 10px;
	top: 60%;
}
.main img[src="pictures/scroll-down.png"]{
	width: 80px;
	top: 75%;
}
.parts {
	top: 55%;
}
.sites, .products {
	margin-right: 0;
}
.sites img, .products img, .our-clients img{
	display: block;
	margin: 0 auto;
}
img[src="pictures/sites.png"]{
	width: 40px;
	margin-bottom: 2%;
} 
img[src="pictures/sites-underkeys.png"]{
width: 150px;
margin-bottom: 2%;
} 
img[src="pictures/46.png"]{
width: 40px;
margin-bottom: 5%;
} 
img[src="pictures/products.png"]{
width: 35px;
margin-bottom: 2%;
}
img[src="pictures/creativeproducts.png"] {
width: 200px;
margin-bottom: 2%;
}
img[src="pictures/450.png"]{
width: 50px;
margin-bottom: 5%;
} 
img[src="pictures/clients.png"]{
width: 20px;
margin-bottom: 2%;
} 
img[src="pictures/clientsLit.png"]{
width: 150px;
margin-bottom: 2%;
} 
img[src="pictures/100+.png"]{
width: 70px;
margin-bottom: 2%;
}

.contacts form{
	top: 45%;
}

.thanks{
	top: 55%;
}
.thanks img[src="pictures/KNOPKA_OTVETA.png"]{
	width: 300px;
}
.name, .email{
	width: 100%;
}
.name{
	margin-right: 0;
}

.nets{
	top: 75%;
}

}