*{
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
}
.container{
	max-width: 1280px;
	min-height: 1900px;
	margin: 0 auto;
}
.header {
	max-width: 100%;
	height: 100px;
	background-color: #f8f6f6;
	position: relative;
}
.header img{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.wrapper {
	width: 18%;
	margin: 0 auto;
	position: absolute;
	top: 2%;
    right: 1%;
}

.menu li {
	list-style: none;
	background-color: black;
}

.menu li:hover {
	list-style: none;
	background-color: gray;
	cursor: pointer;
}

.menu li a {
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	color: white;
}

nav{
	display: none;
}

.main {
	max-width: 100%;
	height: 600px;
	background-color: #4d4d4d;
	position: relative;
}
.main img[src="pictures/burger.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 2%;
    right: 1%;
    cursor: pointer;
}
.main img[src="pictures/wethinkcreative.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.main img[src="pictures/makecreativetasks.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.main img[src="pictures/mouse.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.main img[src="pictures/scroll-down.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 88%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.about-us {
	max-width: 100%;
	height: 500px;
	background-color: #ffffff;
	position: relative;
}
.about-us img[src="pictures/aboutus.png"] {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.about-us img[src="pictures/tododesign.png"] {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.kinds {
	max-width: 80%;
	margin: 0 auto;
	position: absolute;
	top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.kinds img[src="pictures/creativedesign.png"],
.kinds img[src="pictures/unicporfolio.png"] {
	width: 32%;
	float: left;
	margin-right: 2%;
	cursor: pointer;
}
.kinds img[src="pictures/endless.png"] {
	width: 32%;
	float: right;
	cursor: pointer;
}
.kinds img[src="pictures/creativedesign.png"]:hover,
.kinds img[src="pictures/unicporfolio.png"]:hover,
.kinds img[src="pictures/endless.png"]:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  border: 1px solid gray;
  transition: all ease 0.5s;
}

.clear{
	clear: both;
}
.clients {
	max-width: 100%;
	height: 200px;
	background-color: #1c1c1c;
	position: relative;
}
.clients img[src="pictures/ourclients.png"] {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.clients img[src="pictures/arrow-left.png"] {
	position: absolute;
	top: 55%;
	left: 13%;
	cursor: pointer;
}
.clients img[src="pictures/arrow-right.png"] {
	position: absolute;
	top: 55%;
	right: 13%;
	cursor: pointer;
}
.clients img[src="pictures/arrow-left.png"]:hover,
.clients img[src="pictures/arrow-right.png"]:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.5);
  transition: all ease 0.5s;
}
.slider{
	width: 820px;
	height: 70px;
	padding-top: 10px;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	left: 50%;
    margin-right: -45%;
    transform: translate(-50%, 0);
    top: 48%;
}
.polosa{
	width: 2000px;
	height: 60px;
	margin-left: 20px;
	transition: all ease 1s;
	position: absolute;
	left: 0;
}
.polosa::after {
	content: "";
	display: block;
	clear: both;
}

.polosa img[src="pictures/rcbuyer.png"],
.polosa img[src="pictures/klick.png"],
.polosa img[src="pictures/videohiv.png"]{
	float: left;
	margin-right: 120px;
}
.polosa img[src="pictures/rcbuyer.png"]:hover,
.polosa img[src="pictures/klick.png"]:hover,
.polosa img[src="pictures/videohiv.png"]:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all ease 0.5s;
  cursor: pointer;
}

.features{
	max-width: 100%;
	height: 500px;
	background-color: #4d4d4d;
	position: relative;
}
.features img[src="pictures/ourfeatures.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.parts {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.sites, .products {
	float: left;
	margin-right: 150px;
}
.our-clients{
	float: right;
}
.sites img, .products img, .our-clients img{
	display: block;
	margin: 20px auto;
}

.parts img[src="pictures/sites.png"]:hover,
.parts img[src="pictures/products.png"]:hover,
.parts img[src="pictures/clients.png"]:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.4);
  transition: all ease 0.5s;
  cursor: pointer;
}

.contacts {
	max-width: 100%;
	height: 900px;
	background-color: #ffffff;
	position: relative;
}

.contacts img[src="pictures/contacts.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.contacts img[src="pictures/forlinks.png"]{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.contacts form{
	width: 80%;
	margin: 0 auto;
	position: absolute;
	top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.form{
	width: 100%;
	margin: 0 auto;
}
input[type="text"],
input[type="email"] {
border-top: 1px solid white;
border-right: 1px solid white;
border-left: 1px solid white;
border-bottom: 1px solid #cccccc; 
border-radius: 3px; 
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; 
-khtml-border-radius: 3px; 
background: #ffffff !important; 
outline: none; 
color: #cccccc; 
font-size: 16px; 
font-family: Tahoma sans-serif; 
width: 100%;
height: 50px;
}
.contacts input[type="submit"]{
	width: 200px;
	height: 50px;
	background-color: #f6744b;
	border: 1px solid #f6744b;
	border-radius: 2px;
	font-family: Arial sans-serif;
	font-size: 26px;
	color: white;
	display: block;
    cursor: pointer;
    margin-top: 5%;
}
.thanks{
	border: 1px solid gray;
	border-radius: 5px;
	width: 200px;
	height: 100px;
	background-color: white;
	padding: 10px;
	position: absolute;
	top: 45%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
}
.name, .email{
	width: 48%;
	display: block;
	float: left;
}
.name{
	margin-right: 4%;
}

#message{
	display: block;
	width: 100%;
	height: 100px;
	background: #fff;
	outline: none;
	-webkit-appearance: none;
	font-size: 16px;
	font-family: Tahoma, sans-serif;
	border-radius: 3px;
	padding: 6px 12px 8px;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 2px solid #cccccc;
}
label{
	display: block;
	margin-top: 2%;
	color: #cccccc;
	font-family: Arial sans-serif;
	font-size: 16px;
	margin-bottom: 2%;
}
label:after{
	content: "*";
	font-size: 20px;
	color: red;
}
.nets{
	position: absolute;
	top: 80%;
    left: 10%;
}
.nets a{
	text-decoration: none;
}
.nets .vk:hover,
.nets .insta:hover,
.nets .whatsup:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  transition: all ease 0.5s;
  cursor: pointer;
  opacity: 0.6;
}

.up-footer {
	max-width: 100%;
	height: 80px;
	background-color: #0c1215;
	position: relative;
}
.up-footer img[src="pictures/location.png"]{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.up-footer img[src="pictures/arrow-down.png"]{
	position: absolute;
	top: 50%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.maps {
	max-width: 100%;
	height: 300px;
	background-color: white;
	display: none;
}
.low-footer {
    max-width: 100%;
	height: 200px;
	background-color: #171f23;
	position: relative;
}
.low-footer img[src="pictures/logo-footer.png"]{
	position: absolute;
	top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.low-footer img[src="pictures/todowithlove.png"]{
	position: absolute;
	top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.low-footer img[src="pictures/subscribe.png"]{
	position: absolute;
	top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}